.messages {
    display: flex;
    flex-direction: column;
    background-color: rgb(0,13,100);
    border: .5em solid gray;
    padding: .1em 2em .1em 2em;
    margin: auto;
    border-radius: 2em;
    max-width: 40em;
}

h5,
h4 {
    color: darkorange;

}

h4 {
    font-size: small;
    opacity: .4;

}

.createMessageInput{
    height: 5em;
    text-align: left;
    margin: .5em;
}

p{
    white-space: normal;
    overflow-wrap: break-word;
    margin: 0;
    background-color: rgb(1, 7, 48);
}

.button {
    background-color: darkorange;
    padding: .5em;
    font-size: 1em;
    margin: auto;
    transition-duration: .5s;
    cursor: pointer;
  }
  .button:hover {
    background-color: black;
    color: darkorange;
  }